@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Outfit:wght@100..900&family=Poppins:wght@500&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}
